button {
  width: 100%;
  background-color: #a5ef8d;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}

button:hover {
  background-color: lightseagreen;
}
